venv/
.git/
.env
__pycache__/
*.pyc
*.pyo
*.pyd
.db
db.sqlite3
node_modules/
dist/
build/
.next/
.streamlit/
frontend/node_modules/
frontend/dist/
backend/venv/
C:/project/APMS/venv/
C:/project/APMS/.git/
